body {
  overflow: hidden;
}

#left, #center, #right {
  height: 100%;
  border: 1px solid #F0F0F0;
}

#left>div, #center>div, #right>div {
  margin: 2px;
  overflow: auto;
}

#left {
  float: left;
  width: 33%;
}

#center { 
  float: left;
  width: 33%;
}

#right {
  float: left;
  width: 33%;
}

#status {
  font: 15px arial, sans-serif;
  border: 1px solid black;
  padding: 2px;
  margin: 3px;
  height: 25px;
}

#events {
  overflow: auto;
  width: 100%;
  height: 100%;

}

.selected {
  outline: cyan solid 2px;
  margin: 2px;
}

#messages{
  width: 100%;
}

#paramsDiv {
  font: 15px arial, sans-serif;
  border: 1px solid black;
  padding: 2px;
  margin: 3px;
}

#input {
  outline: none;
  resize: none;
  width: 100%;
}

#box {
  height: 100%;
}

.boxed {
  border: 1px solid black;
  padding: 2px;
  margin: 3px;
}

.event {
  font: 15px arial, sans-serif;
  border: 1px solid black;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
}

.catTitle {
  border: 1px solid grey;
  background: #F0F0F0;
}

.catMenu {
  padding-left: 4px;
}

.message {
  font: 15px arial, sans-serif;
  border-style: none none solid none;
  border-width: 1px;
  border-color: lightgray;
  overflow: hidden;
  width: 100%;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}
