body {
  overflow: hidden;
}

#left, #center, #right {
  height: 100%;
  border: 1px solid #F0F0F0;
}

#left>div, #center>div, #right>div {
  margin: 2px;
}

#left {
  float: left;
  width: 33%;
}

#center { 
  float: left;
  width: 33%;
}

#right {
  float: left;
  width: 33%;
}

#status {
  font: 15px arial, sans-serif;
  border: 1px solid black;
  padding: 2px;
  margin: 3px;
  height: 25px;
}

#events, #messages{
  overflow: auto;
  width: 100%;
  height: 100%;
}

#paramsDiv {
  font: 15px arial, sans-serif;
  border: 1px solid black;
  padding: 2px;
  margin: 3px;
}

.boxed {
  border: 1px solid black;
  padding: 2px;
  margin: 3px;
}

.event {
  font: 15px arial, sans-serif;
  border: 1px solid black;
  overflow: hidden;
}

.message {
  font: 15px arial, sans-serif;
  border: 1px solid black;
  overflow: hidden;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}
